
@{
    ViewData["Title"] = "ActionWithMenu";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h1>ActionWithMenu</h1>

@section Scripts{
    <script src="~/js/action-with-menu-scripts.js"></script>
}