@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ActionWithParams";
}

<p>Data extracted from GET request</p>
<p>
    String parameter - @ViewBag.StrParam <br />
    Integer parameter - @ViewBag.IntParam <br />
    Date parameter - @ViewBag.DateParam
</p>
